extends layout/page

append variables
    - var title = "It works!";

append main
    // START modules/welcome-section
    .section-welcome
        p.section-welcome__message a workflow that #[em just] works
    // END modules/welcome-section