
block variables
- var title = title || `Overzicht`;

doctype html
html
    head
        meta( charset="utf-8" )
        meta( http-equiv="X-UA-Compatible" content="IE=edge" )

        title=title

        link( rel="stylesheet" href="/assets/css/all.css" )
        link( rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400italic")
        meta( name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0" )

        //-
            style
                include ../../output/css/all.css


    body

        .page-layout
            header.page-layout__header
                include page-header

            main.page-layout__main
                block main

            footer.page-layout__footer
                include page-footer

        script( src=config.paths.assets.js+"/all.js" )